/* ------------------
header start
-------------------- */
.header-main {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  position: relative;
}
.header-inner-box {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 360px;
  padding: 0 16px;
  backdrop-filter: blur(12px);
}
.header-inner-box a img {
  width: 160px;
  height: auto;
  margin: -10px -20px -15px 0;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 100px;
}
.navbar {
  display: flex;
  gap: 40px;
}
.navbar li a {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-black-gray);
  transition: all 0.3s ease;
}
.navbar li a:hover {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-dark-green);
  transition: all 0.3s ease;
}
