/* ------------------
home start
-------------------- */
.hero-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 80px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.inner-hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.cta {
  display: flex;
  gap: 30px;
}

/* who we are */
.who-we-are {
  background-image: url("../img/who-we-are-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 300px 0;
  display: flex;
  justify-content: center;
}
.inner-who-we-are {
  display: flex;
  gap: 30px;
}

.whoweare {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 50%;
}

/* fake buttons */

.fakeBtn-white {
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 360px;
  color: var(--secondary-black-gray);
  font-size: 18px;
  font-weight: 700;
  padding: 12px 24px;
}
.fakeBtn-gray {
  background-color: var(--fakeBtn-gray);
  border: 1px solid var(--fakeBtn-gray);
  border-radius: 360px;
  color: var(--secondary-black-gray);
  font-size: 18px;
  font-weight: 700;
  padding: 12px 24px;
}

.img-section {
  width: 50%;
}

.img-section img {
  width: 700px;
}

/* our goal */
.our-goal {
  display: flex;
  justify-content: center;
  padding: 0 0 80px 0;
}
.inner-our-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* cards */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.single-card {
  width: 25%;
  background-color: var(--primary-skin-light);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  transition: all 0.3s ease;
  &:hover {
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.card-icon {
  background-color: var(--primary-dark-green);
  padding: 25px;
  border-radius: 360px;
}
.card-icon img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
