/* who we are */
.who-we-are {
  background-image: url("../img/who-we-are-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 300px 0;
  display: flex;
  justify-content: center;
}
.inner-who-we-are {
  display: flex;
  gap: 30px;
}

.whoweare {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 50%;
  justify-content: center;
}


.img-section {
  width: 50%;
}

.img-section img {
  width: 700px;
}

/* our goal */
.our-goal {
  display: flex;
  justify-content: center;
  padding: 0 0 80px 0;
}
.inner-our-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* cards */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}
.single-card {
  width: 25%;
  background-color: var(--primary-skin-light);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  transition: all 0.3s ease;
  &:hover {
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.cards .single-card:nth-child(even){
  margin: -60px 0 60px 0;
}

.card-icon {
  background-color: var(--primary-dark-green);
  padding: 25px;
  border-radius: 360px;
}
.card-icon img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* tabs code  */
/* that code is in style.css file */

/* our numbers */
.our-numbers {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-image: url("../img/MAP.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
}

.inner-our-number {
  display: flex;
  gap: 20px;
}
.number-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 50%;
  justify-content: center;
}
.numbers-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 50%;
  gap: 20px;
}
.numb-crd {
  box-shadow: 0px 5.05px 35.34px 0px #00000014;
  background-color: white;
  padding: 60px 20px 40px 20px;
  border-radius: 20px;
}
