/* ------------------
home start
-------------------- */
.hero-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 80px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.inner-hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.cta {
  display: flex;
  gap: 30px;
}
