/* ------------------------------
   Project detail integration
------------------------------ */
.about-proj {
  display: flex;
  justify-content: center;
  padding: 80px 0 300px 0;
  width: 100%;
  border-radius: 0;
  background: linear-gradient(180deg, #ffffff 1.85%, #faf6f2 97.46%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.inner-about-proj {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.inner-about-proj > div {
  display: flex;
  gap: 20px;
}
.proj-info {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.icon-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.single-list {
  display: flex;
  gap: 20px;
}

.rej-form {
  width: 35%;
  box-shadow: 0px 5.05px 35.34px 0px #00000014;
  padding: 40px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
.rej-form img {
  width: 100%;
}

/* image slider */
.img-slider {
  margin-top: 60px;
}
.inner-img-slider {
  gap: 30px;
  max-width: 100%;
  display: grid;
  position: relative;
}
.inner-img-slider img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  border-radius: 20px;
}

.mySwiper2 {
  /* height: 800px !important; */
  width: 100%;
}

.mySwiper2 .swiper-slide img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  border-radius: 20px;
}

.mySwiper {
  height: 120px !important;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 30px;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev {
  background-color: #d8b38f;
  border-radius: 360px;
  /* left: -60px !important; */
  right: unset !important;
}

.swiper-button-next {
  background-color: #d8b38f;
  border-radius: 360px;
  /* left: -100% !important; */
  right: unset !important;
}

.swiper-button-next,
.swiper-button-prev {
  & svg {
    height: 50% !important;
    width: 50% !important;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper {
  max-width: 100%;
  display: grid;
}
.swiper-slide {
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
