/* ------------------------------
   1366px
------------------------------ */
@media (max-width: 1366px) {
  /* body code */
  /* home code */

  .text-h2 {
    font-size: 90px;
  }
  .who-we-are {
    padding: 80px 0 130px 0;
  }

  .text-h3 {
    font-size: 38px;
  }

  .tab-single-card {
    height: 395px;
  }

  .our-numbers {
    background-size: 60%;
  }

  .number-info {
    width: 44%;
  }

  .numbers-card {
    width: 56%;
  }

  .para-pding {
    padding: 0 12%;
  }

  /* body code */

  /* footer code*/
  .footer-inner-box {
    gap: 30px;
  }
}

/* ------------------------------
   1200px
------------------------------ */
@media (max-width: 1200px) {
  /* header code */
  .navigation {
    gap: 60px;
  }
  .navbar {
    gap: 30px;
  }

  /* body code*/
  /* home */

  .img-section {
    display: flex;
    align-items: center;
  }

  .img-section img {
    width: 100%;
  }

  .who-we-are {
    padding: 80px 0;
  }

  .text-h3 {
    font-size: 32px;
  }

  .tab-single-card {
    height: 335px;
  }

  .margin {
    margin: 40px 0 50px 0;
  }

  .text-counter {
    font-size: 52px;
  }
  .para-pding {
    padding: 0 6%;
  }
  .googleMap {
    height: 600px;
  }
  /* body code */

  /* footer code*/
  .footer-inner-box {
    flex-wrap: wrap;
    align-items: start;
    gap: 40px;
  }

  .footer-inner-box .info:nth-child(3) {
    width: 48%;
    order: 2;
  }

  .footer-inner-box .info:nth-child(2) {
    width: 48%;
    order: 1;
  }

  .email {
    width: 48%;
    order: 4;
  }

  .copyright {
    padding: 20px 0 30px 0;
  }
}

/* ------------------------------
   1024px
------------------------------ */
@media (max-width: 1024px) {
  /* header code */
  .hamburger {
    display: block;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: start;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    height: 95vh;
    width: 60%;
    gap: 40px;
    justify-content: start;
    top: 0;
    padding: 120px 50px 50px 30px;
    left: 0;
    transform: translateX(-120%);
    transition: transform 0.3s ease-out;
  }

  body:has(#burger:checked) .navigation {
    transform: translateX(0);
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  /* body  code*/
  /* home code */
  .text-h1 {
    font-size: 140px;
  }
  .text-h5 {
    font-size: 26px;
  }

  .cards {
    flex-wrap: wrap;
  }

  .single-card {
    width: 48.9%;
  }

  .tab-single-card {
    height: 290px;
  }

  .our-numbers {
    background-size: 80%;
    background-position: bottom center;
  }
  .inner-our-number {
    flex-wrap: wrap;
    gap: 60px;
  }
  .number-info,
  .numbers-card {
    width: 100%;
  }
  .para-pding {
    padding: 0;
  }
  /* body  code*/

  /* footer code */
  .footer-inner-box .info:nth-child(4) {
    width: 47%;
  }

  .footer-inner-box .info:nth-child(3) {
    width: 47%;
  }

  .footer-inner-box .info:nth-child(2) {
    width: 47%;
  }

  .email {
    width: 47%;
  }
}

/* ------------------------------
   880px
------------------------------ */
@media (max-width: 880px) {
  /* body code */
  /* home code*/
  .inner-who-we-are {
    flex-wrap: wrap;
  }

  .who-we-are {
    padding: 80px 0 40px 0;
  }

  .whoweare,
  .img-section {
    width: 100%;
  }

  .single-card {
    width: 48.7%;
  }

  .our-goal {
    padding: 80px 0;
  }

  .our-project {
    padding: 0 0 80px 0;
  }
  .tabpanel-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .all-tabs {
    border-radius: 30px;
  }

  [role="tab"] {
    width: 46%;
    display: flex;
    justify-content: center;
  }

  .our-project {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }

  .margin {
    margin: 40px 0 10px 0;
  }
  .googleMap {
    height: 500px;
  }
  /* body code */

  /* footer code */
  .footer-main {
    padding: 60px 0 0 0;
  }
}

/* ------------------------------
   786px
------------------------------ */
@media (max-width: 786px) {
  /* body  code*/
  /* home code */
  .cta {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .text-h2 {
    font-size: 70px;
  }

  .single-card {
    width: 48.5%;
  }
  /* body  code*/

  /* footer code */
  .footer-inner-box .info:nth-child(1) {
    width: 100%;
  }

  .footer-inner-box .info:nth-child(3) {
    order: 3;
  }

  .footer-inner-box .info:nth-child(2) {
    order: 2;
  }

  .email {
    width: 100%;
    order: 4;
  }
}

/* ------------------------------
   550px
------------------------------ */
@media (max-width: 550px) {
  /* header code */
  .navigation {
    width: 100%;
  }

  /* body  code*/
  /* home code */
  .text-h1 {
    font-size: 80px;
  }
  .text-para-hero {
    font-size: 24px;
    text-align: center;
  }
  .text-h2 {
    font-size: 60px;
  }
  .who-we-are {
    padding: 80px 0 0 0;
  }
  .single-card {
    width: 100%;
  }
  .cards .single-card:nth-child(even) {
    margin: 0;
  }

  [role="tab"] {
    width: 100%;
  }
  .tabpanels {
    margin-top: 40px;
  }
  .tab-single-card {
    height: 230px;
  }
  .tabpanel-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
  }
  .our-project {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
  }

  .margin {
    margin: 40px 0 0px 0;
  }
  .our-numbers {
    background-size: 0;
  }
  .numbers-card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
  }

  .googleMap {
    height: 400px;
  }
  /* body  code*/

  /* footer code */
  .footer-inner-box .info:nth-child(1) {
    align-items: center;
  }
  .footer-inner-box .info:nth-child(3) {
    width: 44%;
  }

  .footer-inner-box .info:nth-child(2) {
    width: 44%;
  }
}
