/* ------------------------------
   1366px
------------------------------ */
@media (max-width: 1366px) {
  /* body code */
  /* home code */
  .text-h2 {
    font-size: 90px;
  }
  /* body code */

  /* footer code*/
  .footer-inner-box {
    gap: 30px;
  }
}
/* ------------------------------
   1200px
------------------------------ */
@media (max-width: 1200px) {
  /* header code */
  .navigation {
    gap: 60px;
  }
  .navbar {
    gap: 30px;
  }

  /* body code*/

  /* home */

  .img-section {
    display: flex;
    align-items: center;
  }

  .img-section img {
    width: 100%;
  }

  /* body code */

  /* footer code*/
  .footer-inner-box {
    flex-wrap: wrap;
    align-items: start;
    gap: 40px;
  }

  .footer-inner-box .info:nth-child(3) {
    width: 48%;
    order: 2;
  }

  .footer-inner-box .info:nth-child(2) {
    width: 48%;
    order: 1;
  }

  .email {
    width: 48%;
    order: 4;
  }

  .copyright {
    padding: 20px 0 30px 0;
  }
}
/* ------------------------------
   1024px
------------------------------ */
@media (max-width: 1024px) {
  /* header code */
  .hamburger {
    display: block;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: start;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    height: 95vh;
    width: 60%;
    gap: 40px;
    justify-content: start;
    top: 0;
    padding: 120px 50px 50px 30px;
    left: 0;
    transform: translateX(-120%);
    transition: transform 0.3s ease-out;
  }

  body:has(#burger:checked) .navigation {
    transform: translateX(0);
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  /* body  home*/
  .text-h1 {
    font-size: 140px;
  }

  /* footer code */
  .footer-inner-box .info:nth-child(4) {
    width: 47%;
  }

  .footer-inner-box .info:nth-child(3) {
    width: 47%;
  }

  .footer-inner-box .info:nth-child(2) {
    width: 47%;
  }

  .email {
    width: 47%;
  }
}
/* ------------------------------
   880px
------------------------------ */
@media (max-width: 880px) {
  /* body code */
  /* home */
  .inner-who-we-are {
    flex-wrap: wrap;
  }
  .whoweare,
  .img-section {
    width: 100%;
  }
  /* body code */

  /* footer code */
  .footer-main {
    padding: 60px 0 0 0;
  }
}
/* ------------------------------
   786px
------------------------------ */
@media (max-width: 786px) {
  /* body  code*/
  /* home code */
  .cta {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .text-h2 {
    font-size: 70px;
  }
  /* body  code*/

  /* footer code */
  .footer-inner-box .info:nth-child(1) {
    width: 100%;
  }

  .footer-inner-box .info:nth-child(3) {
    order: 3;
  }

  .footer-inner-box .info:nth-child(2) {
    order: 2;
  }

  .email {
    width: 100%;
    order: 4;
  }
}
/* ------------------------------
   550px
------------------------------ */
@media (max-width: 550px) {
  /* header code */
  .navigation {
    width: 100%;
  }

  /* body  code*/
  /* home code */
  .text-h1 {
    font-size: 100px;
  }
  .text-para-hero {
    font-size: 24px;
    text-align: center;
  }
  .text-h2 {
    font-size: 60px;
  }
  /* body  code*/

  /* footer code */
  .footer-inner-box .info:nth-child(1) {
    align-items: center;
  }
}
